$color-soft-red: #fe7867;
$color-yellow: #fad400;
$color-dark-cyan-desaturated: #25564b;
$color-dark-cyan-moderate: #458c7e;
$color-dark-blue: #19536b;
$color-dark-blue-desaturated: #23303e;
$color-dark-blue-grayish-1: #5a636c; //very dark grayish blue
$color-dark-blue-grayish-2: #818498; //dark grayish blue
$color-dark-blue-grayish-3: #a7abae; //grayish blue
$color-white: #fff;

$font-barlow: "Barlow";
$font-fraunces: "Fraunces";
