.mg-bottom-lg {
  margin-bottom: 8rem !important;
}
.mg-bottom-md {
  margin-bottom: 6rem !important;
}
.mg-bottom-sm {
  margin-bottom: 4rem !important;
}
.mg-bottom-xs {
  margin-bottom: 2rem !important;
}
